body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myButton::after {
    content: "Pasa por encima";
}

#myButton:hover {
    color: white;
    background-color: green;
}

#myButton:hover::after {
    content: "¡Hecho!";
}