body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-modern {
    background-color: #3498db;
    color: #ffffff;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    border: solid 1px transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: #2980b9;
    color: #eeeeee;
}